<h2>Horizontal form:<h4>if not assign col-*-* then all will be block element, all default length will be 12 grids</h4></h2>
<form class="form-horizontal">

    <div class="form-group">
        <label class="col-lg-2 control-label">Username</label>
        <div class="col-lg-10">
            <div class="input-group col-md-7">
                <span class="input-group-addon" aria-describedby="form-input-username"><</span>
                <input type="text" class="form-control" placeholder="Username" id="form-input-username">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"> > </button>
                        </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="form-input-email" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <div class="input-group col-md-7">
                <input type="email" class="form-control" aria-describedby="form-input-email" placeholder="Email">
                <span class="input-group-addon" id="form-input-email">@gmail.com</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            <div class="input-group col-md-7">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 ">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-addon">.00</span>
    </div>
</div>
